/* Contact Page Css -->START */

.Contact {
  color: red;
}

.mobile_image {
  width: 400px;
  height: 301px;
}

.contactus {
  border-radius: 25px !important;
}

/*  END ->Contact Page   */

/*  Offer Page Start  */

.offer_01 {
  height: 250px;
  width: 400px;
}

.box_offer_01 {
  background-color: #f4f4f4;
  height: 201px;
  border-radius: 9px;
}

.box_offer_01:hover {
  cursor: pointer;
  background-color: #2f3c7e;

  color: #ffffff;
}

.box_offer_02 {
  background-color: #f4f4f4;
  height: 201px;
  border-radius: 25px;
}
.box_offer_align {
  padding-top: 40px;
}
.offer_align {
  margin: 20px;
}

.box_align_set {
  padding-top: 25px;
  padding-bottom: 25px;
}
/* END-> Offer Page   */

/*  App Development START  */

.App_screen {
  background-color: #000000;
  width: 100%;
  height: 800px;
}

.Apps_types_box {
  background-color: #212121;
  height: 300px;
  border-radius: 10px;
}
.Align_content {
  position: absolute;
}

/*   App Development  END  */

/*   How We do IT SART  */

.HowwecontentItImage {
  margin-top: 25px;
}

/*   How We do IT  END  */

.left_chooseBox {
  margin-left: 223px;
}

.right_chooseBox {
  float: left;
  text-align: initial;
}

.DevelopmentProcess_bg {
  background-color: #000000;
  width: 100%;
  height: 550px;
}

.Development_process_first {
  padding-top: 35px;
  padding-bottom: 35px;
}

.icons_round {
  width: 90px;
  height: 91px;
  border-radius: 68%;
  background-color: #ffffff;
}

.icons_image {
  margin-left: 10px;
  margin-top: 12px;
}

.whatWeOffer:hover {
  border-bottom: 5px dotted #0288d1;
  /* width: 10px; */
  display: inline-block;
}

/* mouseEnter/mouseleave */
.titleHover {
  border-bottom: 4px dotted #e91e63;
  display: inline-block;
  width: 139px;
  cursor: pointer;
}
