/* Desktop Space*/
@media only screen and (min-width: 600px) and (max-width: 2300px) {
  .contactUs_Mobile {
    display: none;
  }
  .Services_mobile {
    display: none;
  }
  .TypesChoosUS_Mobile {
    display: none;
  }
}
/* Mobile Space*/
@media only screen and (min-width: 100px) and (max-width: 599px) {
  .contactUs_Deskop {
    display: none;
  }

  .Services_desktop {
    display: none;
  }
  .App_development_desktop {
    display: none;
  }
  .TypesChoosUS_Desktop {
    display: none;
  }
}
